.navtext {
	font-size: 3em;
}

.container {
	height: 80px;
	background-color: var(--bg);
	width: 100svw;
	top: 0;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
    border-bottom: 1px solid color-mix(in srgb, var(--secondary) 50%, #ffffff00); 
}
