.navtext {
	font-size: 3em;
	color: var(--primary); /* Использую глобальные цвета */
	font-weight: 800;
    letter-spacing: 0.05em; /* Расстояние между буквами */
	text-shadow: rgba(0, 0, 0, 0.432) 1px 1px 1px; 
}

.container {
	height: 80px;
	background-color: var(--bg);
	width: 100svw;
	top: 0;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
    border-bottom: 1px solid color-mix(in srgb, var(--secondary) 50%, #ffffff00); 
}
