.imgtop1 {
	position: fixed;
    gap:0.5em;
    right: 0;
	top:100px;
    transform: scaleX(-1);
    //transform: rotate(40deg)
    //height: calc(100svh - 80px);

}
.imgtop2 {
	position: fixed;
    gap:0.5em;
	left:0;
	top:100px;
}
.img1 {
	position: absolute;
	left: 0;
    top: 80px;
	height: calc(100svh - 80px);
}
.img2 {
	position: absolute;
	right: 0;
    top: 80px;
	height: calc(100svh - 80px);
}