.imgrev1 {
	position: absolute;
    gap:0.5em;
    right: 0;
	top:100px;
    transform: scaleX(-1);
    //transform: rotate(40deg)
    //height: calc(100svh - 80px);

}
.imgrev2 {
	position: absolute;
	left:0;
	top:100px;
}