@font-face {
    font-family: TDRukopis;
    src: url('../public/fonts/TDRukopis.otf');
}
@font-face{
    font-family: WildWest;
    src: url('../public/fonts/CFWildWestPERSONAL-Regular.ttf')
}

:root {
    --bg: #FDFFCD;
    --secondary: #B0EF8E;
    --primary: #29411B;
    --primarylight: #3F642A;
    --accent: #74e85e;
    --correct: #00AB66;
    --exists: #f4cd2a;
    --incorrect: #aaaaaa;
}

html, body {
    padding: 0;
    margin: 0;
    min-height: 100svh;
    width: 100svw;
    background-color: var(--bg);
    /* Вот этот шрифт глобальный (применён везде!). Если хочешь поменять шрифт, меняй тока тут */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.boldtext {
	color: var(--primary); /* Использую глобальные цвета */
	font-weight: 800;
    letter-spacing: 0.05em; /* Расстояние между буквами */
}

.shadow {
	text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px; 
}

p {
	margin-block-start: 0em;
    margin-block-end: 0em;
}

.maincontainer {
    width: 100svw;
	height: 100svh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 1em;
}

::-webkit-scrollbar {
    display: none;
}

// body {
    background-image: url(/pattern.svg);
    background-repeat: repeat;
    background-size: 10em;
    animation: bgslide 100s linear infinite;
    will-change: background-position;
    transform: translate3d(0,0,0);
}

@keyframes bgslide {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 200% 200%;
    }
}