.button {
    background-color: var(--primary);
    color: var(--bg);
    padding: 15px 50px;
    border: none;
    outline: none;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    transition: all 0.3s;
    border-radius: 15px;

    font-size: 1em;
    font-weight: 800;
}

.button:hover {
    background-color: var(--primarylight);
}