.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2em;
}

.keyboard-row {
    display: grid;
    width: fit-content;
    height: fit-content;
    gap: 0.2em;
    width: 100%;
}
.row1ru {
    grid-template-columns: repeat(12, 1fr);
}
.row2ru {
    grid-template-columns: repeat(11, 1fr);
}
.row3ru {
    grid-template-columns: 1.5fr repeat(9, 1fr) 1.5fr;
}

.row1en {
    grid-template-columns: repeat(10, 1fr);
}
.row2en {
    grid-template-columns: repeat(9, 1fr);
}
.row3en {
    grid-template-columns: 1.5fr repeat(7, 1fr) 1.5fr;
}